<div class="container-fluid MT15">
  <div class="custom-container">
    <div class="row">
      <div class="col-lg-12 col-md-offset-1 col-md-10 col-sm-12 col-xs-12 master-data-content MT30">
        <h2 class="h2 inline-block">SUSTAINABILITY STATUS</h2>
        <select id="ddlYear" [(ngModel)]="year" class="pull-right customDatePicker" (ngModelChange)="getYear($event)">
          </select>
        <p>Order Value :
          <b> 267131</b> (annual purchase)</p>
        <progressbar class="progress" [value]="stacked" [max]="100"></progressbar>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12">
        <h2 class="headerClass">Non Compliances</h2>
        <div class="row" id="non-compliances">
          <div class='box' *ngFor="let compliance of compliances">
            <div class='tile-count'>{{compliance.sectionTotal}}
            </div>
            <div class='tile-data'>{{compliance.sectionCode}}-{{compliance.codeTitle}}</div>
          </div>
        </div>
      </div>
      <div class="plan-class col-lg-4 col-md-4">
        <h2 class="headerClass header-override">Planning</h2>
        <div class="row">
          <div id="planning3month">
            <h3 class="h3-class">+ 3months</h3>
            <div class='box' *ngFor="let plan of planThree">
              <div class='tile-count'>0
              </div>
              <div class='tile-data'>Schedule within Next 3 Months</div>
            </div>
          </div>
          <div id="planning6month">
            <h3 class="h3-class">+ 6months</h3>
            <div class='box' *ngFor="let plan of planSix">
              <div class='tile-count'>0
              </div>
              <div class='tile-data'>Schedule within Next 6 Months</div>
            </div>
          </div>
        </div>
      </div>
      <div id="divFooter"></div>
    </div>
  </div>
</div>