<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
<div class="overlay"></div>
<header>
  <nav class="navbar navbar-default subHeader">
    <div class="container-fluid">
      <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left pull-left">
          <li class="breadCrumbs">
            <a class="cursor" (click)="utils.routeToContextUrls('dashboard')">
              <i class="fa fa-home"></i>
            </a>
            <a>></a>
            <a class="cursor">Auditors List</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="container-fluid MT45">
  <div class="custom-container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h2 class="MB30 PL15">List Of Auditors
        </h2>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h2 class="MB30 inline-block">List Of Auditors
          </h2>
      <div class="row MB30">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <button type="button" pButton icon="fa fa-plus-circle" iconPos="right" label="Save List" class="pull-left btn-add" (click)="openPopUp()"></button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <button type="button" pButton icon="fa fa-plus-circle" iconPos="left" label="add Auditor" class="pull-right btn-add" (click)="routeToUrl('addAuditor')"></button>
        </div>
      </div>
     
      <p-table #dt [columns]="cols" [value]="auditors" [paginator]="true" [rows]="10" [responsive]="true" [scrollable]="true" [style]="{width:'100%'}">

        <ng-template pTemplate="caption">
          <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="All Data" (click)="dt.exportCSV()" class="pull-left btn-add"></button>
          <div class="global-filter-div">
            <i class="fa fa-search fa-search-style"></i>
            <input type="text" pInputText size="50" placeholder=" Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')"
              class="global-filter-input">
          </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" style="width:200px">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
              {{col.header}}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
          </tr>
          <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
              <input class="tableWidth" *ngSwitchCase="'active'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                (change)="getValue($event.target.value,col.field)">
              <input class="tableWidth" *ngSwitchCase="'contactPersonName'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                (change)="getValue($event.target.value,col.field)">
              <input class="tableWidth" *ngSwitchCase="'registeredOn'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                (change)="getValue($event.target.value,col.field)">
            </th>
          </tr>
        </ng-template>
        <!--Editable columns-->
        <ng-template pTemplate="body" let-auditor let-columns="columns">
          <tr class="table-tr-class" (click)="editAuditor(auditor.id)">
            <!-- <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input type="text">
                </ng-template>
                <ng-template pTemplate="output">
                  {{auditor.id}}
                </ng-template>
              </p-cellEditor>
            </td> -->
            <!-- <td *ngIf="(auditor.active=='N')">
              InActive
            </td>
            <td *ngIf="(auditor.active=='Y')">
              Active
            </td> -->
            <td>{{auditor.active}}</td>
            <td>{{auditor.compnayType}}</td>
            <td>{{auditor.companyName}}</td>
            <td>{{auditor.contactPersonName}}</td>
            <td>{{auditor.registeredOn}}</td>
            <td *ngIf="(auditor.active=='N')">
              <div class="inline-block P5">
                <i class="fa fa-address-card actionIcon" title="Address" (click)="getAddress(auditor.companyName)" aria-hidden="true"></i>
              </div>
              <div class="inline-block P5">
                <i class="fa fa-address-book" title="Contacts" (click)="getContacts(auditor.companyName)" aria-hidden="true"></i>
              </div>
              <div class="inline-block P5">
                <i class="fa fa-check-circle actionIcon" title="Activate" (click)="activate(auditor.id);$event.stopPropagation()" aria-hidden="true"></i>
              </div>
            </td>
            <td *ngIf="(auditor.active=='Y')">
              <div class="inline-block P5">
                <i class="fa fa-address-card actionIcon" title="Address" (click)="getAddress(auditor.companyName)" aria-hidden="true"></i>
              </div>
              <div class="inline-block P5">
                <i class="fa fa-address-book" title="Contacts" (click)="getContacts(auditor.companyName)" aria-hidden="true"></i>
              </div>
              <div class="inline-block P5">
                <i class="fa fa-circle-o actionIcon" title="Deactivate" (click)="deActivate(auditor.id);$event.stopPropagation()" aria-hidden="true"></i>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <div>
          <div class="modal fade" id="newAccountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                          <h4 class="modal-title" id="myModalLabel">Add Save List</h4>
                      </div>
                      <div class="modal-body">
                          <form class="new_project_form form-horizontal" autocomplete="off" #f="ngForm" (ngSubmit)="f.form.valid && saveList()"
                              novalidate="">
                              <div class="form-group">
                                  <div class="col-xs-12">
                                      <div class="floating-label">
                                          <input name="accountName" type="text" id="accountName" tabindex="1" class="floating-input"  [(ngModel)] = 'listName'
                                              placeholder="" required autofocus>
                                          <label for="accountName" class="formLabel">List Name</label>
                                      </div>
                                      <div>
                                        <span class="error" *ngIf="f.submitted && !listName">Name Is Required</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-xs-12">
                                      <button class="btn btn-block btn-add" tabindex="3">Save</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
        </div>
  </div>
</div>