<header *ngIf="showNavBar">
  <nav class="navbar navbar-color navbar-expand-lg navbar-expand-md navbar-light">
    <a class="navbar-brand" (click)="utils.routeToContextUrls('dashboard')">
      <img class="logo-class" src="../assets/images/logo-login-sign.png" alt="Sustain view logo ">
    </a>
    <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown "
      aria-expanded="false " aria-label="Toggle navigation ">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown ">
      <ul class="navbar-nav col-md-10 col-sm-8 ">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CSR
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="routeToContext('coc')">Code of Conduct</a>
            <a class="dropdown-item" (click)="routeToContext('auditors')">Auditors</a>
            <a class="dropdown-item" (click)="routeToContext('suppliers')">Suppliers</a>
            <a class="dropdown-item" (click)="routeToContext('prodfacility')">Production facilities</a>
            <a class="dropdown-item" (click)="routeToContext('purchase')">Purchase Orders</a>
            <a class="dropdown-item" (click)="routeToContext('capar')">CAPAR</a>
            <a class="dropdown-item" (click)="routeToContext('savedList')">Saved List</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true " aria-expanded="false">File
            Uploads
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Batch Upload</a>
            <a class="dropdown-item" href="#">Batch Upload Status</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true " aria-expanded="false ">Company
            Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="routeToContext('company')">Company</a>
            <a class="dropdown-item" (click)="routeToContext('compUser')">Company User</a>
            <a class="dropdown-item" (click)="routeToContext('engagement')">Engagement Rules</a>
            <a class="dropdown-item" (click)="routeToContext('rag')">RAG Parameters</a>
            <!-- <a class="dropdown-item" href="#">Audit Log</a> -->
          </div>
        </li>
      </ul>
      <ul class="navbar-nav col-md-10 col-sm-8" *ngIf="svAdminCheck">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SV
            Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="routeToContext('compList')">Company List</a>
            <a class="dropdown-item" (click)="routeToContext('compUser')">Company User(SV Admin)</a>
            <a class="dropdown-item" (click)="routeToContext('coc')">Code of Conduct</a>
            <a class="dropdown-item" (click)="routeToContext('audit')">Audit Log(Review)</a>
            <a class="dropdown-item" href="#">Saved List</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav custom-nav-right col-md-2 col-sm-4">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="# " id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fa fa-user-circle"></i> Root
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="# ">Change Password</a>
            <!-- <a class="dropdown-item" href="# ">Support</a> -->
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>