@import "../../../assets/sass/mixins/_margin-padding.scss";
@import "../../../assets/sass/partials/_fonts.scss";
@import "../../../assets/sass/partials/_palette.scss";
// @import "../../../assets/sass/partials/_helper.scss";
.navbar{
    background:$default-dark-green!important;
    color: $default-white;
    height: 60px;
    font-family: $default-white;;
    font-size: 20px;
    cursor: pointer;
}
.navbar-light .navbar-nav .nav-link{
        color:$default-white;
        opacity: 0.9;
}
img.logo-class{
    height: 50px;
}
.dropdown-menu a:hover {
    background-color: $default-light-grey;
}
.custom-nav-right{
    display: block!important;
    text-align: right;
}