p
{
    text-align: center;
    font-family: none;
}
table {
    width:100%;
}table, th, td {
    border: 0px;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: center;
}

table#t02 th {
    background-color: #fff;
    color: black;
}