<div class="row">
    <div class="col-md-offset-4 col-md-4">

<form >
<table style="width:50%" align="center" id="t02">
<tr><td> EmployeeId </td><td><input type="text" name="Employeeid"></td></tr>
<tr> <td>Name </td><td><input type="text" name="Name"></td></tr>
<tr><td> MailId  </td><td><input type="text" name="Mailid"></td></tr>
<tr> <td>Date 0f joining</td><td><input type="text" name="Date_of_joining" ></td></tr>
<tr> <td> Role </td><td><input type="text" name="Role"></td></tr>
<tr> <td> Line Manager</td><td><input type="text" name="Line_Manager" ></td></tr><br><br>
<tr><td colspan=2><input type="submit" value="Add"></td></tr>
</table>
</form></div></div>