
        <h4 align="center">Organizational goals</h4><br>
        <div class="container-fluid">
        <div class="row">
              <div class="col-md-offset-2 col-md-8">
          <table style="width:50%" align="center" id="t01">
              <tr>
                  <th>S.no</th>
                  <th>Goals</th>
                  <th>Self Feedback</th>
                  <th>Manager Feedback</th>
                  <th>Self Rating</th>
                  <th>Manager Rating</th>
                </tr>
                <tr><td>1</td><td> Minimum 9 productive hours per day</td><td><div contenteditable></div></td><td></td><td><div contenteditable></div></td><td></td></tr>
                <tr><td>2</td><td>Minimum 45 hours productivity per week</td><td><div contenteditable></div></td><td></td><td><div contenteditable></div></td><td></td></tr>
                <tr><td>3</td><td>Minimum 40 hours of productive contribution to projects every week</td><td><div contenteditable></div></td><td></td><td><div contenteditable></div></td><td></td></tr>
                
            </table>
            </div>
        </div>
</div>
<br>
        <div class="row">
        <div class="col-md-offset-4 col-md-4">
        <p>
          <button type="button">Submit</button></p></div></div>
