
<div id="parent">
  <div id="child" class="block center">
      <span>
        <h4 align="center">Individual goals</h4><br>
        
        <div class="row">
       <div class="col-md-offset-2 col-md-8">
        
          <table style="width:50%" align="center" id="t01">
              <tr>
                  <th>S.no</th>
                  <th>Goals</th>
                  <th>Self Feedback</th>
                  <th>Manager Feedback</th>
                  <th>Self Rating</th>
                  <th>Manager Rating</th>
                </tr>
                <tr><td>1</td><td>Knowledge of dependency management in the build</td><td><div contenteditable></div></td><td></td><td><div contenteditable></div></td><td></td></tr>
                <tr><td>2</td><td>Applying code quality guidelines and ensure delivery of good quality code</td><td><div contenteditable></div></td><td></td><td><div contenteditable></div></td><td></td></tr>
                <tr><td>3</td><td>Feel happier and more positive during workday</td><td><div contenteditable></div></td><td></td><td><div contenteditable></div></td><td></td></tr>
                
            </table></div></div>
        </span>
        <br>
        <div class="row">
        <div class="col-md-offset-4 col-md-4">
        <p>
          <button type="button">Submit</button></p></div></div>
      
  </div>
</div>
