
<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
<header>
  <nav class="navbar navbar-default subHeader">
    <div class="container-fluid">
      <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left pull-left">
          <li class="breadCrumbs">
            <a class="cursor" (click)="utils.routeToContextUrls('dashboard')">
              <i class="fa fa-home"></i>
            </a>
            <a>></a>
            <a class="cursor">List Of Supplier</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="container-fluid MT45">
  <div class="custom-container">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h2 class="MB30 inline-block">Supplier External Production List
      </h2>
      <div class="row MB30">
          <div class="col-lg-6 col-md-6 col-sm-12">
              <button type="button" pButton icon="fa fa-plus-circle" iconPos="right" label="Save List" class="pull-left btn-add" (click)="openPopUp()"></button>
          </div>
        </div>
      <p-table #dt [columns]="cols" [value]="suppliers" [paginator]="true" [rows]="10" [resizableColumns]="true" columnResizeMode="expand">
        <ng-template pTemplate="caption">
          <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="All Data" (click)="dt.exportCSV()" class="pull-left btn-add"></button>
          <div class="global-filter-div">
            <i class="fa fa-search fa-search-style"></i>
            <input type="text" pInputText size="50" placeholder=" Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')"
              class="global-filter-input">
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
              {{col.header}}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
          </tr>
          <tr>
              <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input class="tableWidth"  *ngSwitchCase="'currentStatus'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                    (change)="getValue($event.target.value,col.field)">
                    <input class="tableWidth"  *ngSwitchCase="'companyName'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                    (change)="getValue($event.target.value,col.field)">
                    <input class="tableWidth"  *ngSwitchCase="'supplierName'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                    (change)="getValue($event.target.value,col.field)">
                    <input class="tableWidth"  *ngSwitchCase="'supplierAddress'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                    (change)="getValue($event.target.value,col.field)">
                    <input class="tableWidth"  *ngSwitchCase="'supplierCity'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                    (change)="getValue($event.target.value,col.field)">
                    <input class="tableWidth"  *ngSwitchCase="'supplierCountry'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                    (change)="getValue($event.target.value,col.field)">
                    <input class="tableWidth"  *ngSwitchCase="'supplierPhone'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                    (change)="getValue($event.target.value,col.field)">
              </th>
          </tr>
          </ng-template>
        
     <ng-template pTemplate="body" let-supplier let-columns="columns">
          <tr class="table-tr-class" (click) = "viewSuppliers(supplier.supplierId)" >
            <!-- <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input type="text">
                </ng-template>
                <ng-template pTemplate="output">
                  {{supplier.supplierId}}
                </ng-template>
              </p-cellEditor>
            </td> -->
            <td>{{supplier.currentStatus}}</td>
            <td>{{supplier.companyName}}</td>
            <td>{{supplier.supplierName}}</td>
            <td>{{supplier.supplierAddress}}</td>
            <td>{{supplier.supplierCity}}</td>
            <td>{{supplier.supplierCountry}}</td>
            <td>{{supplier.supplierPhone}}</td>
            <td *ngIf="(supplier.currentStatus=='ACTIVE')">
                <div class="inline-block P5">
                    <i class="fa fa-minus-square actionIcon" title="Deactivate" (click)="deleteSupplier(supplier.supplierId);$event.stopPropagation()" aria-hidden="true"></i>
                    </div>
              </td>
              <td *ngIf="(supplier.currentStatus=='INACTIVE')">
                  <div class="inline-block P5">
                      <i class="fa fa-plus-square actionIcon" title="Activate" (click)="activateSupplier(supplier.supplierId);$event.stopPropagation()" aria-hidden="true"></i>
                      </div>
                </td>
          </tr>
        </ng-template>
      </p-table>
      <div>
          <div class="modal fade" id="newAccountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                          <h4 class="modal-title" id="myModalLabel">Add Save List</h4>
                      </div>
                      <div class="modal-body">
                          <form class="new_project_form form-horizontal" autocomplete="off" #f="ngForm" (ngSubmit)="f.form.valid && saveList()"
                              novalidate="">
                              <div class="form-group">
                                  <div class="col-xs-12">
                                      <div class="floating-label">
                                          <input name="accountName" type="text" id="accountName" tabindex="1" class="floating-input"  [(ngModel)] = 'listName'
                                              placeholder="" required autofocus>
                                          <label for="accountName" class="formLabel">List Name</label>
                                      </div>
                                      <div>
                                        <span class="error" *ngIf="f.submitted && !listName">Name Is Required</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-xs-12">
                                      <button class="btn btn-block btn-add" tabindex="3">Save</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
