<p><b><h4>Previous Year Performance</h4></b></p><br>
<br>
<div class="row">
        <div class="col-md-offset-2 col-md-8">
<table style="width:50%" align="center"id="t01">
<tr>
<th>Year </th>
<th> Details</th>
</tr>
<tr>
<td>2015</td>
<td  (click)="historymthd()" style="cursor:pointer">2015 details</td>
</tr>
<tr>
<td>2016</td>
<td  (click)="historymthd()" style="cursor:pointer">2016 details</td>
</tr>
<tr>
<td>2017</td>
<td  (click)="historymthd()" style="cursor:pointer">2017 details</td>
</tr>
</table>
</div></div>