<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
<header>
  <nav class="navbar navbar-default subHeader">
    <div class="container-fluid">
      <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left pull-left">
          <li class="breadCrumbs">
            <a class="cursor" (click)="utils.routeToContextUrls('dashboard')">
              <i class="fa fa-home"></i>
            </a>
            <a>></a>
            <a class="cursor" (click)="listOfSupplier()">List Of Supplier</a>
            <a>></a>
            <a>View Supplier</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container-fluid">
  <div class="custom-container">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="row">
        <div class="offset-md-1 col-md-5 col-sm-6">
          <form class="MT50 form-class" #f="ngForm" (ngSubmit)="f.form.valid ">
            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                  <input type='text' name="secNo" id="secNo" class="floating-input" placeholder=" " [(ngModel)]="supplier.companyName" tabindex="1"
                    readonly required autocomplete="off">
                  <label for="secNo" class="formLabel">Company Name</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                  <input type='text' name="readyForProduction" id="readyForProduction" class="floating-input" placeholder=" " [(ngModel)]="supplier.readyForProduction"
                    tabindex="1" readonly required autocomplete="off">
                  <label for="Certification" class="formLabel">Ready For Production ?</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                  <input type='text' name="supplierName" id="supplierName" class="floating-input" placeholder=" " [(ngModel)]="supplier.supplierName"
                    tabindex="1" readonly required autocomplete="off">
                  <label for="codeSubSection" class="formLabel">Supplier Name</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                  <input type='text' name="emailContactPerson" id="emailContactPerson" class="floating-input" placeholder=" " [(ngModel)]="supplier.emailContactPerson"
                    tabindex="1" readonly required autocomplete="off">
                  <label for="Title" class="formLabel">Email Contact Person</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                    <input type='text' name="supplierPostalCode" id="supplierPostalCode" class="floating-input" placeholder=" " [(ngModel)]="supplier.supplierPostalCode"
                    tabindex="1" readonly required autocomplete="off">
                  <label for="codeText" class="formLabel">Postal Code</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                  <input type='text' name="supplierProvince" id="supplierProvince" class="floating-input" placeholder=" " [(ngModel)]="supplier.supplierProvince"
                    readonly tabindex="1" required autocomplete="off">
                  <label for="Reference" class="formLabel">Province</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                  <input type='text' name="supplierPhone" id="supplierPhone" class="floating-input" placeholder=" " [(ngModel)]="supplier.supplierPhone"
                    tabindex="1" required readonly autocomplete="off">
                  <label for="responseType" class="formLabel">Phone</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                  <input type='text' name="supplierPhone" id="supplierPhone" class="floating-input" placeholder=" " [(ngModel)]="supplier.prodInPcs100PerYear"
                    tabindex="1" required readonly autocomplete="off">
                  <label for="year" class="formLabel">Production In pieces</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                  <input type='text' name="perctOfTtlPrdctnMem" id="perctOfTtlPrdctnMem" class="floating-input" placeholder=" " [(ngModel)]="supplier.perctOfTtlPrdctnMem"
                    tabindex="1" required readonly autocomplete="off">
                  <label for="responseType" class="formLabel">% Of Total Production Member</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                  <input type='text' name="perctOfProdFrMem" id="perctOfProdFrMem" class="floating-input" placeholder=" " [(ngModel)]="supplier.perctOfProdFrMem"
                    tabindex="1" required readonly autocomplete="off">
                  <label for="responseType" class="formLabel">% Of Production For Member</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                  <input type='text' name="prodFrMemLstYr" id="prodFrMemLstYr" class="floating-input" placeholder=" " [(ngModel)]="supplier.prodFrMemLstYr"
                    tabindex="1" required readonly autocomplete="off">
                  <label for="responseType" class="formLabel">Production For Member In Last Year?</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                  <input type='text' name="leadTime" id="leadTime" class="floating-input" placeholder=" " [(ngModel)]="supplier.leadTime" tabindex="1"
                    required readonly autocomplete="off">
                  <label for="responseType" class="formLabel">Lead Time</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                  <input type='text' name="prodProcess" id="prodProcess" class="floating-input" placeholder=" " [(ngModel)]="supplier.prodProcess"
                    tabindex="1" required readonly autocomplete="off">
                  <label for="responseType" class="formLabel">Production Process</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                  <input type='text' name="otherClients" id="otherClients" class="floating-input" placeholder=" " [(ngModel)]="supplier.otherClients"
                    tabindex="1" required readonly autocomplete="off">
                  <label for="responseType" class="formLabel">Other Clients</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                  <input type='text' name="ltrRutrnOfAnnouncingTheCopl" id="ltrRutrnOfAnnouncingTheCopl" class="floating-input" placeholder=" "
                    [(ngModel)]="supplier.ltrRutrnOfAnnouncingTheCopl" tabindex="1" required readonly autocomplete="off">
                  <label for="responseType" class="formLabel">Letter Return Of Annoncing the CoLP ?</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                  <input type='text' name="nameRepresent" id="nameRepresent" class="floating-input" placeholder=" " [(ngModel)]="supplier.nameRepresent"
                    tabindex="1" required readonly autocomplete="off">
                  <label for="responseType" class="formLabel">Name Represent</label>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-5 col-sm-6">
          <form class="MT50 form-class" #f="ngForm" (ngSubmit)="f.form.valid && addCoc()">
            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                  <input type='text' name="divisionName" id="divisionName" class="floating-input" placeholder=" " [(ngModel)]="supplier.divisionName" tabindex="1"
                    readonly autocomplete="off">
                  <label for="secNo" class="formLabel">Division Name</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                  <input type='text' name="currentStatus" id="currentStatus" class="floating-input" placeholder=" " [(ngModel)]="supplier.currentStatus" tabindex="1"
                    readonly autocomplete="off">
                  <label for="Certification" class="formLabel">Current Status</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                  <input type='text' name="supplierContactPerson" id="supplierContactPerson" class="floating-input" placeholder=" " [(ngModel)]="supplier.supplierContactPerson"
                    tabindex="1" required readonly autocomplete="off">
                  <label for="codeSubSection" class="formLabel">Supplier Contact Person</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                  <input type='text' name="supplierAddress" id="supplierAddress" class="floating-input" placeholder=" " [(ngModel)]="supplier.supplierAddress"
                    tabindex="1" required readonly autocomplete="off">
                  <label for="Title" class="formLabel">Address</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                  <input type='text' name="supplierCity" id="supplierCity" class="floating-input" placeholder=" " [(ngModel)]="supplier.supplierCity"
                    tabindex="1" required readonly autocomplete="off">
                  <label for="codeText" class="formLabel">City</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                  <input type='text' name="supplierCountry" id="supplierCountry" class="floating-input" placeholder=" " [(ngModel)]="supplier.supplierCountry"
                    readonly tabindex="1" required autocomplete="off">
                  <label for="Reference" class="formLabel">Country</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                  <input type='text' name="supplierFax" id="supplierFax" class="floating-input" placeholder=" " [(ngModel)]="supplier.supplierFax"
                    tabindex="1" required readonly autocomplete="off">
                  <label for="responseType" class="formLabel">Fax</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                  <input type='text' name="fobAmntInCntrlCurncy" id="fobAmntInCntrlCurncy" class="floating-input" placeholder=" " [(ngModel)]="supplier.fobAmntInCntrlCurncy"
                    tabindex="1" required readonly autocomplete="off">
                  <label for="year" class="formLabel">FOB Amount (In Central Currency)</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                  <input type='text' name="prodCapInPcs100PerYear" id="prodCapInPcs100PerYear" class="floating-input" placeholder=" " [(ngModel)]="supplier.prodCapInPcs100PerYear"
                    tabindex="1" required readonly autocomplete="off">
                  <label for="year" class="formLabel">Production Capacity (in pcs x 1000 per year)</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                  <input type='text' name="firstYearOfProd" id="firstYearOfProd" class="floating-input" placeholder=" " [(ngModel)]="supplier.firstYearOfProd"
                    tabindex="1" required readonly autocomplete="off">
                  <label for="year" class="formLabel">First Year Of Production</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                  <input type='text' name="periodOfPrdFrMem" id="periodOfPrdFrMem" class="floating-input" placeholder=" " [(ngModel)]="supplier.periodOfPrdFrMem"
                    tabindex="1" required readonly autocomplete="off">
                  <label for="year" class="formLabel">Period Of Production For Member</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                  <input type='text' name="prodCategory" id="prodCategory" class="floating-input" placeholder=" " [(ngModel)]="supplier.prodCategory"
                    tabindex="1" required readonly autocomplete="off">
                  <label for="year" class="formLabel">Product Category</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                  <input type='text' name="numberOfWorkers" id="numberOfWorkers" class="floating-input" placeholder=" " [(ngModel)]="supplier.numberOfWorkers"
                    tabindex="1" required readonly autocomplete="off">
                  <label for="year" class="formLabel">Number Of Workers</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                  <input type='text' name="suplrInfrmedAbtCopl" id="suplrInfrmedAbtCopl" class="floating-input" placeholder=" " [(ngModel)]="supplier.suplrInfrmedAbtCopl"
                    tabindex="1" required readonly autocomplete="off">
                  <label for="year" class="formLabel">Supplier Informed About CoLP ?</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                  <input type='text' name="lastVisit" id="lastVisit" class="floating-input" placeholder=" " [(ngModel)]="supplier.lastVisit"
                    tabindex="1" required readonly autocomplete="off">
                  <label for="year" class="formLabel">Last Visit</label>
                </div>
              </div>
            </div>


            <div class="form-group">
              <div class="col-xs-12">
                <div class="floating-label">
                  <input type='text' name="comments" id="comments" class="floating-input" placeholder=" " [(ngModel)]="supplier.comments" tabindex="1"
                    required readonly autocomplete="off">
                  <label for="year" class="formLabel">Comments</label>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>