<br><p><b><h4>Organizational goals</h4></b></p><br>
<div class="container-fluid">
<div class="row">
<div class="col-md-offset-2 col-md-8">
<table align="center" style="width:50%"id="t01">
  <tr>
    <th>S.No</th>
    <th>Org goals</th> 
  </tr>
 <tr><td>1</td><td><div contenteditable></div></td></tr>
 <tr><td>2</td><td><div contenteditable></div></td></tr>
 <tr><td>3</td><td><div contenteditable></div></td></tr>
 <tr><td>4</td><td><div contenteditable></div></td></tr>
 <tr><td>5</td><td><div contenteditable></div></td></tr>
 
</table>
<br>
<br><p>
 <button type="button">Add</button>    <button type="button">Release</button>
 </p>