<div class="container-fluid login-container">
  <div class="login-page">
    <div class="form-class">
      <form class="login-form" #f="ngForm" (ngSubmit)="login(loginId,password)">
        <div class="img-Logo">
          <img src="../assets/images/logo-login-text.png" alt="Sustain view logo">
          <img class="logo-height" src="../assets/images/logo-login-sign.png" alt="Sustain view logo-sign">
        </div>
        <div>
          <input type="text" name="user" placeholder="Username" [(ngModel)]="loginId" />
          <div>
            <span class="error" *ngIf="f.submitted && !loginId">Username Required</span>
          </div>
        </div>
        <div>
          <input type="password" name="password" placeholder="Password" [(ngModel)]="password" />
          <div>
            <span class="error" *ngIf="f.submitted && !password">Password Required</span>
          </div>
        </div>
        <div>
          <input name="responseType" type="text" placeholder="Company" id="responseType" tabindex="1" ngui-auto-complete tabindex="1"
            [source]="companyList" [(ngModel)]="compObj" value-formatter="companyName" list-formatter="companyName" [match-formatted]="true"
            required autocomplete="off">
          <div>
            <span class="error" *ngIf="f.submitted && !compObj">Company Required</span>
          </div>
        </div>
        <button type="submit" class="btn-add">login</button>
        <p class="message">
          <a href="#">Forgot Password?
          </a>
        </p>
      </form>
    </div>
  </div>
</div>