@import "../../../../assets/sass/mixins/_margin-padding.scss";
@import "../../../../assets/sass/partials/_fonts.scss";
@import "../../../../assets/sass/partials/_palette.scss";
@import "../../../../assets/sass/partials/_helper.scss";

.table-tr-class>td{
    overflow: hidden;
    word-wrap: break-word!important;
}
.fa-search-style{
    margin:4px 4px 0 0;
    color:#696969
}

