<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
<header>
  <nav class="navbar navbar-default subHeader">
    <div class="container-fluid">
      <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left pull-left">
          <li class="breadCrumbs">
            <a class="cursor" (click)="utils.routeToContextUrls('dashboard')">
              <i class="fa fa-home"></i>
            </a>
            <a>></a>
            <a class="cursor" (click)="listOfAuditors()">List Of Auditor</a>
            <a>></a>
            <a>View Auditor</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="offset-lg-3 col-lg-5 offset-md-3 col-md-5 offset-sm-3 col-sm-6">
      <!-- <h2 class="MB30 inline-div">Add COC</h2> -->
      <form class="MT50 form-class" #f="ngForm" (ngSubmit)="f.form.valid && updateAuditor()">
        <div class="form-group">
          <div class="col-xs-12">
            <div class="floating-label">
              <input type='text' name="CompanyName" id="CompanyName" class="floating-input" placeholder=" " [(ngModel)]="auditor.companyName"
                tabindex="1" readonly autocomplete="off">
              <label for="linkTitle" class="formLabel">Auditor Name</label>
            </div>
            <div>
              <span class="error" *ngIf="f.submitted && !auditor.companyName">Auditor Name Required</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <div class="floating-label">
              <input type='text' name="CompanyDomain" id="CompanyDomain" class="floating-input" placeholder=" " [(ngModel)]="auditor.companyDomain"
                tabindex="1" required autocomplete="off">
              <label for="linkTitle" class="formLabel">Company Website</label>
            </div>
            <div>
              <span class="error" *ngIf="f.submitted && !auditor.companyDomain">Company Website Required</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <div class="floating-label">
              <input type='text' name="ContactPersonName" id="ContactPersonName" class="floating-input" placeholder=" " tabindex="1" [(ngModel)]="auditor.contactPersonName"
                required autocomplete="off">
              <label for="linkTitle" class="formLabel">Name</label>
            </div>
            <div>
              <span class="error" *ngIf="f.submitted && !auditor.contactPersonName">Contact Person Name Required</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <div class="floating-label">
              <input type='text' name="ContactEmail" id="ContactEmail" class="floating-input" placeholder=" " tabindex="1" #email='ngModel'
                [(ngModel)]="auditor.contactEmail" required autocomplete="off">
              <label for="linkTitle" class="formLabel">Email</label>
            </div>
            <div>
              <span class="error" *ngIf="f.submitted && !auditor.contactEmail">Email Required</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <div class="floating-label">
              <input type='text' name="AddressOne" id="AddressOne" class="floating-input" placeholder=" " tabindex="1" [(ngModel)]="auditor.addressOne"
                required autocomplete="off">
              <label for="linkTitle" class="formLabel">Address Line 1</label>
            </div>
            <div>
              <span class="error" *ngIf="f.submitted && !auditor.addressOne">Address Required</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <div class="floating-label">
              <input type='text' name="AddressTwo" id="AddressTwo" class="floating-input" placeholder=" " tabindex="1" [(ngModel)]="auditor.addressTwo"
                 autocomplete="off">
              <label for="linkTitle" class="formLabel">Address Line 2</label>
            </div>
            <!-- <div>
                    <span class="error" *ngIf="f.submitted && !links.title">{{constants.title_reqd}} </span>
                  </div> -->
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <div class="floating-label">
              <input type='number' name="PostCode" id="PostCode" class="floating-input" placeholder=" " tabindex="1" [(ngModel)]="auditor.postCode"
                required autocomplete="off">
              <label for="linkTitle" class="formLabel">Post Code</label>
            </div>
            <div>
              <span class="error" *ngIf="f.submitted && !auditor.postCode">PostCode Required</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <div class="floating-label">
              <input type='text' name="City" id="City" class="floating-input" placeholder=" " tabindex="1" [(ngModel)]="auditor.cityName"
                required autocomplete="off">
              <label for="linkTitle" class="formLabel">City</label>
            </div>
            <div>
              <span class="error" *ngIf="f.submitted && !auditor.cityName">City Required</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <div class="floating-label">
              <input type='text' name="State" id="State" class="floating-input" placeholder=" " tabindex="1" [(ngModel)]="auditor.stateRegion"
                required autocomplete="off">
              <label for="linkTitle" class="formLabel">State</label>
            </div>
           <div>
              <span class="error" *ngIf="f.submitted && !auditor.stateRegion">State Required</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <div class="floating-label">
              <input name="responseType" type="text" class="floating-input" placeholder=" " id="responseType" tabindex="1" [(ngModel)]="auditor.isoCountryCode"
                ngui-auto-complete [source]="countryCodes" value-formatter="countryCodeISO2" list-formatter="countryName" [match-formatted]="true"
                required autocomplete="off">
              <label class="deleteIcon" for="linkTitle" class="formLabel">Country</label>
            </div>
            <div>
              <span class="error" *ngIf="f.submitted && !auditor.isoCountryCode">Country Required</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <div class="floating-label">
              <input type='text' name="TelePhoneNumber" id="TelePhoneNumber" class="floating-input" placeholder=" " tabindex="1" [(ngModel)]="auditor.telePhoneNumber"
                required autocomplete="off">
              <label for="linkTitle" class="formLabel">Phone Number</label>
            </div>
            <div>
              <span class="error" *ngIf="f.submitted && !auditor.telePhoneNumber">Phone Number Required</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <div class="floating-label">
              <input type='number' name="FaxNumer" id="FaxNumer" class="floating-input" placeholder=" " tabindex="1" [(ngModel)]="auditor.faxNumer"
                required autocomplete="off">
              <label for="linkTitle" class="formLabel">Fax Number</label>
            </div>
            <div>
              <span class="error" *ngIf="f.submitted && !auditor.faxNumer">Fax Number Required</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <p-calendar [showIcon]="true" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" [(ngModel)]="auditor.registeredOn"
              yearRange="2000:2030" name="calendar" placeholder=" " class="calendar-input floating-input"></p-calendar>
            <label for="linkTitle" class="formLabel">Registered Date</label>
            <div>
              <span class="error" *ngIf="f.submitted && !auditor.registeredOn">Registered Date Required</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12 col-sm-12 inline-block">
              <button class="btn btn-add btn-lg width100">Update</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>