<p align="center"><b>Granding Permission</b></p>
<br><br>
<div style="width:100%;">
  <form>
              <div align="center"style="float:left; width:50%;">
                      <p>Mid Year<p>
                              <input type="date" />
                          <br><br>
                          <input type="radio" name="open">Enable&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="open">Disable
                          <br>
                          <br>
                          <p>Annual Year<p>
                                  <input type="date" />
                                  <br>
                          <br>
                          <input type="radio" name="open">Enable&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio"name="open">Disable
              </div></form><form>
              <div align="center" style="float:right; width:50%; ">
                      <p>Mid Year<p>
                             Employee: <input type="text" placeholder="Search id or name">
                          <br><br>
                          <input type="radio" name="open">Enable&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="open">Disable
                          <br>
                          <br>
                          <p>Annual Year<p>
                                  Employee: <input type="text" placeholder="Search id or name">
                                  <br>
                          <br>
                          <input type="radio" name="open">Enable&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="open">Disable
                                  </div>
                              </form>
              </div>